Repository imjoseangel/ansiblecommon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, python-lint, yamllint

ansible-lint:
  name: Ansible Linter
  description: This hook runs ansible-lint.
  entry: ansible-lint -x 703,701,306,301,204
  language: python

python-lint:
  name: Python Linter
  description: This hook runs pylint.
  entry: pylint
  language: python

yamllint:
  name: YAML Linter
  args:
  - --strict
  entry: yamllint
  language: system

Adds galaxy files
  .github/workflows/master.yml
  galaxy.yml
  requirements.yml
Due: ansible-lint, yamllint

Adds first schema
  playbooks/util/linux/create.yml
  playbooks/util/pretasks.yml
  roles/toolbox/README.md
  roles/toolbox/defaults/main.yml
  roles/toolbox/handlers/main.yml
  roles/toolbox/meta/main.yml
  roles/toolbox/tasks/copyfile.yml
  roles/toolbox/tasks/main.yml
  roles/toolbox/tests/test.yml
  roles/toolbox/vars/main.yml
Due: ansible-lint, yamllint

Adds PR
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Adds Templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: ansible-lint, yamllint

Adds contributing docs
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Due: none

Fixes build
  .github/workflows/master.yml
Due: ansible-lint, yamllint

Adds copyfile
  playbooks/util/linux/create.yml
  roles/toolbox/tasks/copyfile.yml
  roles/toolbox/vars/main.yml
Due: ansible-lint, yamllint

Adds inventory
  playbooks/util/linux/create.yml
  roles/toolbox/tasks/inventory.yml
  roles/toolbox/vars/main.yml
  vars/dev/common.yml
  vars/global/common.yml
Due: ansible-lint, yamllint

Update README.md
  README.md
Due: none

Fixes Pre-commit
  .github/ISSUE_TEMPLATE/config.yml
  .pre-commit-config.yaml
Due: ansible-lint, yamllint

Adds destfile
  playbooks/util/linux/create.yml
  roles/toolbox/tasks/copyremote.yml
  roles/toolbox/tasks/inventory.yml
  roles/toolbox/tasks/test.yml
  roles/toolbox/vars/main.yml
  vars/global/common.yml
Due: ansible-lint, yamllint

Renames local
  roles/toolbox/tasks/copylocal.yml
  roles/toolbox/vars/main.yml
Due: ansible-lint, yamllint

Adds banner
  dw.png
Due: none

Removes image
  dw.png
Due: none

Adds test and vars
  ansible.cfg
  playbooks/util/linux/create.yml
  roles/toolbox/tasks/test.yml
Due: ansible-lint, yamllint

Changes several stuff
  playbooks/util/linux/run.yml
Due: ansible-lint, yamllint

Changes release number
  galaxy.yml
Due: ansible-lint, yamllint

Add main actions for CI
  .github/workflows/main.yml
Due: ansible-lint, yamllint

Removing yaml
  Makefile
Due: none

Add pythontest
  .pre-commit-config.yaml
  Makefile
  tests/test_playbooks.py
Due: ansible-lint, python-lint, yamllint

Add Makefile
  Makefile
Due: none

change dir
  tests/test_playbooks.py
Due: python-lint

Install pytest
  .github/workflows/main.yml
Due: ansible-lint, yamllint

Change requirements
  .github/workflows/main.yml
  requirements.txt
Due: ansible-lint, yamllint

Reformat python with black
  hooks/lint_checker.py
  tests/test_playbooks.py
Due: python-lint

Remove lines
  Makefile
Due: none

Fix actions
  .github/workflows/main.yml
  tests/test_playbooks.py
Due: ansible-lint, python-lint, yamllint

Add Galaxy
  .github/workflows/release.yml
Due: ansible-lint, yamllint

Create release.yml
  .github/workflows/release.yml
Due: ansible-lint, yamllint

Rename release
  .github/workflows/release.yml
Due: ansible-lint, yamllint

Update release.yml
  .github/workflows/release.yml
Due: ansible-lint, yamllint

Removes if
  .github/workflows/release.yml
Due: ansible-lint, yamllint

Add right repo
  .github/workflows/release.yml
Due: ansible-lint, yamllint

Add Sanity Check
  .github/workflows/main.yml
Due: ansible-lint, yamllint

Add small changes
  .github/workflows/master.yml
Due: ansible-lint, yamllint

Add final release
  .github/workflows/main.yml
  .github/workflows/master.yml
  .github/workflows/release.yml
  galaxy.yml
Due: ansible-lint, yamllint

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  python-lint: any of: \.(py)$
  yamllint: any of: \.(yaml|yml)$
